body {
    margin: 60px auto;
    width: 100%; 
    font-family:"Major Mono Display";
}
nav ul, footer ul {
    font-family:"Major Mono Display";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    font-family:"Major Mono Display";
    text-decoration: none;
    color: #999/*#2A5DB0,0087BD,999*/;
    font-size: 1em 
}
nav a:hover {
    background-color: #555;
    text-decoration: underline;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}
ul.posts li {
    list-style: none;
}
ul li {
	font-family:"Major Mono Display";
	font-size:1em;
}
h2 {
    font-size: 2em;
    font-family: "Major Mono Display";
    width: 80%;
}
h3 {
    font-size: 1.5em;
    font-family:"Major Mono Display";
    width: 80%;
}
p {
    font-size: 1.25em;
    font-family:"Major Mono Display";
    line-height: 1.25em;
    color: #333;
    width: 90%;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
img {
	float:left;
	width: 100%;
	filter: brightness(100%);
}
.responsive {
	width: 100%;
	height: auto
}
figure {
  float: left;
  width: 100%;
  text-align: left;
  filter: brightness(100%);
}
figcaption {
	font-family:"Major Mono Display";
	font-style: italic;
	font-size: smaller;
}
html *
{
	font-family:"Major Mono Display";
}

/*banner*/

.custom-banner-image {

background-image: url('imgs/bns.jpg');
background-repeat: no-repeat;

background-size: cover;

background-position: 50% 50%;

position: relative;

width: 100%;

height: auto;

display: block;

}

.custom-banner-image .banner-overlay {

position: absolute;

top: 0;

left: 0;

width: 100%;

height: 100%;

background-color: rgba(0, 0, 0, 0.5);

}

.custom-banner-image .banner-text {

padding: 50px 0;

color: #eee;

text-align: center;

position: relative;

z-index: 1;

width: 100%;

font-family: sans-serif;

}

.custom-banner-image .banner-text{

color: #fff;

}

@media (max-width: 767px){

.header-container.container-fluid .row-fluid .page-center {

padding: 0;

}

.custom-banner-image .banner-text {

padding: 50px 15px;

}

}


